<section class="our-services d-flex p-relative z-index-1 bg-color-light lazyload" data-bg-src="assets/img/bg1.jpg">
    <div class="col-img-our-services p-absolute overflow-hidden w-50 h-100"></div>
    <div class="container">
        <div class="row justify-content-end align-items-center h-100">
            <div class="col-lg-5 position-relative bg-color-light z-index-1 col-our-services-text">
                <p class="text-uppercase font-weight-semibold mb-1 text-color-primary appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100"><span class="line-pre-title bg-color-primary"></span>{{'OUR_SERVICES'| translate}}</p>
                <h2 class="text-color-secondary font-weight-bold text-capitalize mb-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">{{'ABOUT_TITLE'| translate}}</h2>
                <!-- <p class="font-weight-semibold mb-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut.</p> -->
                <p class="mb-4 pb-2 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">{{'ABOUT_DESCRIPTION'| translate}}</p>
                <div class="accordion accordion-sm appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500" id="accordionServices">
                    <div class="border-radius mb-1 border-0 card-accordion-our-services-container">
                        <div class="card-header py-2 bg-color-quaternary">
                            <h4 class="card-title m-0">
                                <a class="accordion-toggle text-color-tertiary font-weight-semibold" data-bs-toggle="collapse" data-bs-parent="#accordionServices" href="#collapse3One">
                                    {{'ABOUT_TITLE1'| translate}}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse3One" class="collapse card-accordion-our-services show">
                            <div class="card-body">
                                <p class="mb-0">{{'ABOUT_DESCRIPTION1'|translate}}</p>
                                <a  class="read font-weight-bold text-uppercase  text-decoration-none d-block mt-3" routerLink="service/digital-market" >{{'BUTTON_READ'| translate}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="border-radius mb-1 border-0 card-accordion-our-services-container">
                        <div class="card-header py-2 bg-color-quaternary">
                            <h4 class="card-title m-0">
                                <a class="accordion-toggle text-color-tertiary font-weight-semibold" data-bs-toggle="collapse" data-bs-parent="#accordionServices" href="#collapse3Two">
                                   {{'ABOUT_TITLE2'| translate}}

                                </a>
                            </h4>
                        </div>
                        <div id="collapse3Two" class="collapse card-accordion-our-services">
                            <div class="card-body">
                                <p class="mb-0">{{'ABOUT_DESCRIPTION2'|translate}}</p>
                                <a  class="read font-weight-bold text-uppercase text-decoration-none d-block mt-3">{{'BUTTON_READ'| translate}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="border-radius mb-1 border-0 card-accordion-our-services-container">
                        <div class="card-header py-2 bg-color-quaternary">
                            <h4 class="card-title m-0">
                                <a class="accordion-toggle text-color-tertiary font-weight-semibold" data-bs-toggle="collapse" data-bs-parent="#accordionServices" href="#collapse3Three">
                                    {{'ABOUT_TITLE3'| translate}}

                                </a>
                            </h4>
                        </div>
                        <div id="collapse3Three" class="collapse card-accordion-our-services">
                            <div class="card-body">
                                <p class="mb-0">{{'ABOUT_DESCRIPTION3'|translate}}</p>
                                <a  class="read font-weight-bold text-uppercase text-decoration-none d-block mt-3">{{'BUTTON_READ'| translate}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="border-radius mb-1 border-0 card-accordion-our-services-container">
                        <div class="card-header py-2 bg-color-quaternary">
                            <h4 class="card-title m-0">
                                <a class="accordion-toggle text-color-tertiary font-weight-semibold" data-bs-toggle="collapse" data-bs-parent="#accordionServices" href="#collapse3Five">
                                    {{'ABOUT_TITLE4'| translate}}

                                </a>
                            </h4>
                        </div>
                        <div id="collapse3Five" class="collapse card-accordion-our-services">
                            <div class="card-body">
                                <p class="mb-0">{{'ABOUT_DESCRIPTION4'|translate}}</p>
                                <a  class="read font-weight-bold text-uppercase text-decoration-none d-block mt-3 ">{{'BUTTON_READ'| translate}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="border-radius mb-1 border-0 card-accordion-our-services-container">
                        <div class="card-header py-2 bg-color-quaternary">
                            <h4 class="card-title m-0">
                                <a class="accordion-toggle text-color-tertiary font-weight-semibold" data-bs-toggle="collapse" data-bs-parent="#accordionServices" href="#collapse3Four">
                                    {{'ABOUT_TITLE5'|translate}}

                                </a>
                            </h4>
                        </div>
                        <div id="collapse3Four" class="collapse card-accordion-our-services">
                            <div class="card-body">
                                <p class="mb-0">{{'ABOUT_DESCRIPTION5'|translate}}</p>
                                <a  class="read font-weight-bold text-uppercase text-decoration-none d-block mt-3">{{'BUTTON_READ'| translate}}</a>
                            </div>
                        </div>
                    </div>
             
                </div>

                <a  class="btn btn-primary  text-uppercase text-decoration-none border-0 py-3 px-5 font-weight-semibold mt-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">       {{'BUTTON_DOWNLOAD'| translate}}</a>
            </div>	
        </div>
    </div>
</section>
