.form-control {
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    background-clip: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background 0.15s ease-in-out, opacity 0.15s ease-in-out;
    color: #262626;
    background-color: #ebebeb;
    border-color: rgba(255, 166, 0, 0.689);
    height: 46px !important;
    padding: calc(15px * .5) 10px;
    font-size: 16px;
    line-height: 19px;
}

body{
    background-image: url('../../../assets/img/login1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
height:100vh ;
    width: 100%;
}


.card{
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .validation{
    font-size: smaller;
    color: red;
  }