
<footer id="footer" class="m-0 border-0 bg-color-quaternary overflow-hidden">
    <div class="container">
        <div class="row py-5 custom-row-footer">
            <div class="col-12 col-sm-12 col-lg-4 d-flex align-items-start flex-column footer-column custom-footer-column-logo">
    <app-logo></app-logo>                
<p class="d-block m-0 text-color-default">{{'FOOTER_DESCRIPTION'| translate}}</p>
            </div>
            <div class="col-12 col-sm-12 col-lg-8 footer-column">
                <div class="d-flex align-items-start align-sm-items-end justify-content-between flex-column h-100 mt-4 mt-sm-0">
                    <div class="d-flex flex-nowrap flex-lg-wrap justify-content-start justify-content-lg-end align-items-start align-items-lg-center w-100 flex-column flex-lg-row mt-4 mt-lg-0 custom-container-info-socials">
                        <ul class="nav nav-pills justify-content-between h-100 mb-4 mb-lg-0">
                            <li class="nav-item d-inline-flex flex-column flex-lg-row">
                                <span class="footer-nav-phone py-2 d-flex align-items-center text-color-secondary font-weight-semibold text-uppercase justify-content-start mb-2 mb-lg-0">
                                    <span>
                                        <img width="15" height="18" src="assets/img/demos/business-consulting-2/icons/phone.svg" alt="Phone">
                                    </span>
                                    <a class="font-weight-bold text-color-secondary text-color-hover-primary text-decoration-none" href="tel:123-456-7890">{{contactinfo.phone}}</a>
                                </span>
                                <span class="footer-nav-email px-0 font-weight-normal d-flex align-items-center justify-content-start mb-2 mb-lg-0">
                                    <span>
                                        <img width="25" height="18" src="assets/img/demos/business-consulting-2/icons/mail.svg" alt="Mail">
                                    </span>
                                    <a class="text-color-secondary text-color-hover-primary text-decoration-none" href="mailto:info@caistt.com">{{contactinfo.email}}</a>
                                </span>
                                <span class="footer-nav-opening-hours px-0 font-weight-normal d-flex align-items-center text-color-secondary justify-content-start mb-2 mb-lg-0">
                                    <span>
                                        <i class="fa fa-headset" style="font-size:16px"></i>
                                    </span>
                                  {{contactinfo.service}}
                                </span>
                            </li>
                        </ul>
                  
                    </div>
                    <nav class="nav-footer w-100 d-none d-lg-block">
                        <ul class="nav nav-pills justify-content-end" id="mainNav">
                            <li class="dropdown-secondary">
                                <a class="nav-link text-color-secondary font-weight-bold letter-spacing-05 text-color-hover-primary" href="demo-business-consulting-2.html">
                                    {{"LINK_HOME" | translate}}
                                </a>
                            </li>
                            <li class="dropdown-secondary">
                                <a class="nav-link text-color-secondary font-weight-bold letter-spacing-05 text-color-hover-primary" href="demo-business-consulting-2-about-us.html">
                                    {{"LINK_ABOUT_US" | translate}}
                                </a>
                            </li>
                            <li class="dropdown-secondary">
                                <a class="nav-link text-color-secondary font-weight-bold letter-spacing-05 text-color-hover-primary" href="demo-business-consulting-2-services.html">
                                    Services
                                </a>
                            </li>
                            <!-- <li class="dropdown-secondary">
                                <a class="nav-link text-color-secondary font-weight-bold letter-spacing-05 text-color-hover-primary" href="demo-business-consulting-2-cases.html">
                                    Cases
                                </a>
                            </li>
                            <li class="dropdown-secondary">
                                <a class="nav-link text-color-secondary font-weight-bold letter-spacing-05 text-color-hover-primary" href="demo-business-consulting-2-team.html">
                                    Team
                                </a>
                            </li>
                            <li class="dropdown-secondary">
                                <a class="nav-link text-color-secondary font-weight-bold letter-spacing-05 text-color-hover-primary" href="demo-business-consulting-2-blog.html">
                                    Blog
                                </a>
                            </li> -->
                            <li class="dropdown-secondary">
                                <a class="nav-link text-color-secondary font-weight-bold letter-spacing-05 text-color-hover-primary">
                                    {{"LINK_CONTACT_US" | translate}}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright container bg-color-quaternary">
        <div class="row">
            <div class="col-lg-12 text-center m-0">
                <p class="text-color-grey">Caistt. ©  2023.  All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>