

<section class="section section-with-shape-divider border-0 z-index-2 pb-0 m-0 ">
    <div class="shape-divider shape-divider-reverse-xy" style="height: 120px;">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="xMinYMin">
            <polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "/>
        </svg>
    </div>
    <div class="container pt-3 mt-5">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-9 col-xl-8 text-center">
                <div class="overflow-hidden">
                    <h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">{{'WHATWEDO_TITLE'| translate}}</h2>
                </div>
                <div class="overflow-hidden mb-3">
                    <h3 class="font-weight-bold text-color-secondary text-transform-none text-9 line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="400">{{'WHATWEDO_TITLE1'| translate}}</h3>
                </div>
                <p class="custom-font-secondary custom-font-size-1 line-height-7 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">{{'WHATWEDO_TITLE2'| translate}}</p>
            </div>
        </div>
        
            <!-- <div class="col appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750">
                <div class="owl-carousel stage-margin stage-margin-md nav-style-1 nav-svg-arrows-1 nav-dark" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 2}, '768': {'items': 2}, '992': {'items': 3}, '1200': {'items': 4}}, 'autoplay': false, 'autoplayTimeout': 5000, 'autoplayHoverPause': true, 'dots': false, 'nav': true, 'loop': true, 'margin': 20, 'stagePadding': 75}">
                    <div>
                        <a  class="text-decoration-none">
                            <div class="thumb-info custom-thumb-info-style-1 mb-3">
                                <div class="custom-thumb-info-icon">
                                    <img src="assets/img/demos/industry-factory/icons/icon-automotive.png" class="img-fluid" alt="" />
                                </div>
                                <div class="thumb-info-wrapper">
                                    <img src="assets/img/demos/industry-factory/categories/category-1.jpg" class="img-fluid" alt="" />
                                </div>
                            </div>
                        </a>
                        <h4 class="text-center mb-0"><a  class="text-color-dark text-color-hover-primary text-decoration-none text-2">Automotive</a></h4>
                    </div>
                    <div>
                        <a class="text-decoration-none">
                            <div class="thumb-info custom-thumb-info-style-1 mb-3">
                                <div class="custom-thumb-info-icon bg-dark">
                                    <img src="assets/img/demos/industry-factory/icons/icon-oil.png" class="img-fluid" alt="" />
                                </div>
                                <div class="thumb-info-wrapper">
                                    <img src="assets/img/demos/industry-factory/categories/category-2.jpg" class="img-fluid" alt="" />
                                </div>
                            </div>
                        </a>
                        <h4 class="text-center mb-0"><a  class="text-color-dark text-color-hover-primary text-decoration-none text-2">Oil & Gas</a></h4>
                    </div>
                    <div>
                        <a class="text-decoration-none">
                            <div class="thumb-info custom-thumb-info-style-1 mb-3">
                                <div class="custom-thumb-info-icon">
                                    <img src="assets/img/demos/industry-factory/icons/icon-solar-energy.png" class="img-fluid" alt="" />
                                </div>
                                <div class="thumb-info-wrapper">
                                    <img src="assets/img/demos/industry-factory/categories/category-3.jpg" class="img-fluid" alt="" />
                                </div>
                            </div>
                        </a>
                        <h4 class="text-center mb-0"><a  class="text-color-dark text-color-hover-primary text-decoration-none text-2">Wind & Solar</a></h4>
                    </div>
                    <div>
                        <a  class="text-decoration-none">
                            <div class="thumb-info custom-thumb-info-style-1 mb-3">
                                <div class="custom-thumb-info-icon bg-dark">
                                    <img src="img/demos/industry-factory/icons/icon-electrical-tower.png" class="img-fluid" alt="" />
                                </div>
                                <div class="thumb-info-wrapper">
                                    <img src="img/demos/industry-factory/categories/category-4.jpg" class="img-fluid" alt="" />
                                </div>
                            </div>
                        </a>
                        <h4 class="text-center mb-0"><a  class="text-color-dark text-color-hover-primary text-decoration-none text-2">Eletrical</a></h4>
                    </div>
                    <div>
                        <a  class="text-decoration-none">
                            <div class="thumb-info custom-thumb-info-style-1 mb-3">
                                <div class="custom-thumb-info-icon">
                                    <img src="assets/img/demos/industry-factory/icons/icon-oil.png" class="img-fluid" alt="" />
                                </div>
                                <div class="thumb-info-wrapper">
                                    <img src="assets/img/demos/industry-factory/categories/category-2.jpg" class="img-fluid" alt="" />
                                </div>
                            </div>
                        </a>
                        <h4 class="text-center mb-0"><a  class="text-color-dark text-color-hover-primary text-decoration-none text-2">Oil & Gas</a></h4>
                    </div>
                    <div>
                        <a  class="text-decoration-none">
                            <div class="thumb-info custom-thumb-info-style-1 mb-3">
                                <div class="custom-thumb-info-icon bg-dark">
                                    <img src="assets/img/demos/industry-factory/icons/icon-solar-energy.png" class="img-fluid" alt="" />
                                </div>
                                <div class="thumb-info-wrapper">
                                    <img src="assets/img/demos/industry-factory/categories/category-3.jpg" class="img-fluid" alt="" />
                                </div>
                            </div>
                        </a>
                        <h4 class="text-center mb-0"><a  class="text-color-dark text-color-hover-primary text-decoration-none text-2">Wind & Solar</a></h4>
                    </div>
                </div>
            </div> -->


            <div class="row">
                <owl-carousel-o [options]="customOptions">

                    <ng-container *ngFor="let category of categoryData">
                      <ng-template class="slide" carouselSlide [id]="category.id">
                        <div class="category">
                            <a  class="text-decoration-none">
                                <div class="thumb-info custom-thumb-info-style-1 mb-3">
                                    <!-- <div class="custom-thumb-info-icon bg-dark">
                                        <img src="assets/img/demos/industry-factory/icons/icon-electrical-tower.png" class="img-fluid" alt="" />
                                    </div> -->
                                    <div class="thumb-info-wrapper">
                                        <img src="assets/img/demos/industry-factory/categories/category-4.jpg" style="width:100%; height: 269px;" class="img-fluid" alt="" />
                                    </div>
                                </div>
                            </a>
                            <h4 class="text-center mb-0"><a  class="text-color-dark text-color-hover-primary text-decoration-none text-2" [routerLink]="'product/product-category/'+ category.id">{{category.name}}</a></h4>
                        </div>
                      
          
                      </ng-template>
                    </ng-container>
                
                  </owl-carousel-o>  
                    
            </div>
   
    </div>
</section>