

<section class="section section-with-shape-divider border-0 z-index-2 pb-0 m-0 ">
    <div class="shape-divider shape-divider-reverse-xy" style="height: 120px;">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="xMinYMin">
            <polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "/>
        </svg>
    </div>
    <div class="container pt-3 mt-5">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-9 col-xl-8 text-center">
                <div class="overflow-hidden">
                    <h2 class="text-color-primary font-weight-medium positive-ls-3 text-4 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">{{'WHATWEDO_TITLE'| translate}}</h2>
                </div>
                <div class="overflow-hidden mb-3">
                    <h3 class="font-weight-bold text-color-secondary text-transform-none text-9 line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="400">{{'WHATWEDO_TITLE1'| translate}}</h3>
                </div>
                <!-- <p class="custom-font-secondary custom-font-size-1 line-height-7 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">{{'WHATWEDO_TITLE2'| translate}}</p> -->
            </div>
        </div>
      
    </div>
</section>


				<section class="section border-0 m-0 py-5">
					<div class="container-fluid">
						<div class="row px-4">

							<div class="owl-carousel owl-theme full-width nav-style-1 nav-arrows-thin nav-font-size-lg custom-nav-1 custom-nav-1-pos-2 p-relative mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 2}, '979': {'items': 2}, '1199': {'items': 4}}, 'loop': true, 'nav': true, 'dots': false, 'margin': 40}">
								<div>
									<span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-slow-image-zoom-hover thumb-info-swap-content anim-hover-inner-wrapper">
										<span class="thumb-info-wrapper overlay overlay-op-3 overlay-show overflow-hidden">
											<img src="../../../../../assets/img/food.jpg" class="img-fluid" alt="">
											<span class="thumb-info-title bg-transparent w-100 mw-100 p-0 top-0 p-5">
												<span class="anim-hover-inner-translate-bottom-20px transition-2ms d-inline-block">
													<span class="thumb-info-inner">
														<h4 class="text-color-light text-5 font-weight-bold">Food Processing Industry</h4>
													</span>
												</span>
											</span>
											<span class="thumb-info-title bottom-30 bg-transparent w-100 mw-100 p-0">
												<span class="thumb-info-swap-content-wrapper">
													<span class="thumb-info-inner text-start ps-5">
														<img style="max-width: 60px;" height="60" width="60" class="transform-none mb-3" src="assets/img/food.png" />
													</span>
													<span class="thumb-info-inner text-2">
														<p class="px-5 text-4 text-lg-2 opacity-7 font-weight-medium text-light">We have in stock variety of food items. All foods advertised here are standard and safe to consume. Buying from us is one way of ensuring a healthy body system.</p>
														<a class="btn btn-primary btn-arrow-effect-1 py-2 px-3 ms-5 mb-3 text-3 text-lg-1 ls-0 border-0">Learn More <i class="fas fa-arrow-right ms-2"></i></a>
													</span>
												</span>
											</span>
										</span>
									</span>
								</div>
								<div>
									<span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-slow-image-zoom-hover thumb-info-swap-content anim-hover-inner-wrapper">
										<span class="thumb-info-wrapper overlay overlay-op-3 overlay-show overflow-hidden">
											<img src="assets/img/machinery.jpg" class="img-fluid" alt="">
											<span class="thumb-info-title bg-transparent w-100 mw-100 p-0 top-0 p-5">
												<span class="anim-hover-inner-translate-bottom-20px transition-2ms d-inline-block">
													<span class="thumb-info-inner">
														<h4 class="text-color-light text-5 font-weight-bold">Farm & Factory Machinery Industry</h4>
													</span>
												</span>
											</span>
											<span class="thumb-info-title bottom-30 bg-transparent w-100 mw-100 p-0">
												<span class="thumb-info-swap-content-wrapper">
													<span class="thumb-info-inner text-start ps-5">
														<img style="max-width: 60px;" height="60" width="60" class="transform-none mb-3" src="assets/img/machinery.png" />
													</span>
													<span class="thumb-info-inner text-2">
														<p class="px-5 text-4 text-lg-2 opacity-7 font-weight-medium text-light">Talk of farm tractors, harvesters, drones and other machinery and we have you in mind. Our agricultural machinery are in the best forms and have been certified as durable.</p>
														<a  class="btn btn-primary btn-arrow-effect-1 py-2 px-3 ms-5 mb-3 text-3 text-lg-1 ls-0 border-0">Learn More <i class="fas fa-arrow-right ms-2"></i></a>
													</span>
												</span>
											</span>
										</span>
									</span>
								</div>
								<div>
									<span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-slow-image-zoom-hover thumb-info-swap-content anim-hover-inner-wrapper">
										<span class="thumb-info-wrapper overlay overlay-op-3 overlay-show overflow-hidden">
											<img src="assets/img/warehousing.jpg" class="img-fluid" alt="">
											<span class="thumb-info-title bg-transparent w-100 mw-100 p-0 top-0 p-5">
												<span class="anim-hover-inner-translate-bottom-20px transition-2ms d-inline-block">
													<span class="thumb-info-inner">
														<h4 class="text-color-light text-5 font-weight-bold">Warehousing & Logistics</h4>
													</span>
												</span>
											</span>
											<span class="thumb-info-title bottom-30 bg-transparent w-100 mw-100 p-0">
												<span class="thumb-info-swap-content-wrapper">
													<span class="thumb-info-inner text-start ps-5">
														<img style="max-width: 60px;" height="60" width="60" class="transform-none mb-3" src="assets/img/warehousing.png" />
													</span>
													<span class="thumb-info-inner text-2">
														<p class="px-5 text-4 text-lg-2 opacity-7 font-weight-medium text-light">To keep all types of agricultural produce at the proper temperature in order to preserve the produce, we have expert engineering firms that construct high-quality, long-lasting warehouses.</p>
														<a  class="btn btn-primary btn-arrow-effect-1 py-2 px-3 ms-5 mb-3 text-3 text-lg-1 ls-0 border-0">Learn More <i class="fas fa-arrow-right ms-2"></i></a>
													</span>
												</span>
											</span>
										</span>
									</span>
								</div>
								<div>
									<span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-slow-image-zoom-hover thumb-info-swap-content anim-hover-inner-wrapper">
										<span class="thumb-info-wrapper overlay overlay-op-3 overlay-show overflow-hidden">
											<img src="assets/img/fertilizer.jpg" class="img-fluid" alt="">
											<span class="thumb-info-title bg-transparent w-100 mw-100 p-0 top-0 p-5">
												<span class="anim-hover-inner-translate-bottom-20px transition-2ms d-inline-block">
													<span class="thumb-info-inner">
														<h4 class="text-color-light text-5 font-weight-bold">Agro-Chemicals & Fertilizers</h4>
													</span>
												</span>
											</span>
											<span class="thumb-info-title bottom-30 bg-transparent w-100 mw-100 p-0">
												<span class="thumb-info-swap-content-wrapper">
													<span class="thumb-info-inner text-start ps-5">
														<img style="max-width: 60px;" height="60" width="60" class="transform-none mb-3" src="assets/img/fertilizer.png" />
													</span>
													<span class="thumb-info-inner text-2">
														<p class="px-5 text-4 text-lg-2 opacity-7 font-weight-medium text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere elit in massa congue congue. Ut ornare fermentum sem, vitae port.</p>
														<a class="btn btn-primary btn-arrow-effect-1 py-2 px-3 ms-5 mb-3 text-3 text-lg-1 ls-0 border-0">Learn More <i class="fas fa-arrow-right ms-2"></i></a>
													</span>
												</span>
											</span>
										</span>
									</span>
								</div>
								<div>
									<span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-slow-image-zoom-hover thumb-info-swap-content anim-hover-inner-wrapper">
										<span class="thumb-info-wrapper overlay overlay-op-3 overlay-show overflow-hidden">
											<img src="assets/img/animal.jpg" class="img-fluid" alt="">
											<span class="thumb-info-title bg-transparent w-100 mw-100 p-0 top-0 p-5">
												<span class="anim-hover-inner-translate-bottom-20px transition-2ms d-inline-block">
													<span class="thumb-info-inner">
														<h4 class="text-color-light text-5 font-weight-bold">Animal feed & Animal Products</h4>
													</span>
												</span>
											</span>
											<span class="thumb-info-title bottom-30 bg-transparent w-100 mw-100 p-0">
												<span class="thumb-info-swap-content-wrapper">
													<span class="thumb-info-inner text-start ps-5">
														<img style="max-width: 60px;" height="60" width="60" class="transform-none mb-3" src="assets/img/animal.png" />
													</span>
													<span class="thumb-info-inner text-2">
														<p class="px-5 text-4 text-lg-2 opacity-7 font-weight-medium text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere elit in massa congue congue. Ut ornare fermentum sem, vitae port.</p>
														<a  class="btn btn-primary btn-arrow-effect-1 py-2 px-3 ms-5 mb-3 text-3 text-lg-1 ls-0 border-0">Learn More <i class="fas fa-arrow-right ms-2"></i></a>
													</span>
												</span>
											</span>
										</span>
									</span>
								</div>
							</div>

						</div>
					</div>
				</section>
   
