

<main class="main">
  <!-- Wrapper Section -->
  <section class="section wrapper wrapper-section">
     <div class="container wrapper-column">
        <div class="wrapper-figure">
           <img src="https://i.ibb.co/3msVHYZ/sneaker-image.png" class="wrapper-image" loading="lazy" alt="Sneaker">
        </div>
        <div class="wrapper-content">
           <div class="wrapper-inform">
              <span class="badge badge-dark">Man's Shoes</span>
              <h1 class="heading-sm font-bold">Nike Air Motion Max</h1>
              <p class="text-md font-regular">
                 The combine of breathable mesh without seams for a traditional and
                 modern style to add the perfect amount of flash to make you shine.
              </p>
           </div>
           <div class="wrapper-detail">
              <div class="price">
                 <span class="text-md font-semi">Price:</span>
                 <h3 class="text-xxl font-bold">$99.00</h3>
              </div>
              <!-- <div class="sizes">
                 <span class="text-md font-semi">Sizes:</span>
                 <ul class="sizes-list">
                    <li class="sizes-item is-select">37</li>
                    <li class="sizes-item">38</li>
                    <li class="sizes-item">39</li>
                    <li class="sizes-item">40</li>
                 </ul>
              </div> -->
           </div>
           <div class="">
              <button class="btn bg-secondary text-white mx-2 text-weight-bold">Send Enquiry</button>
              <button class="btn bg-light">
                 <i class="fa fa-heart text-primary"></i>
              </button>
           </div>
        </div>
     </div>
  </section>
</main>