body{
    background-color: #f4f4f4;;
}

.banner{
width: 100%;
height: 30vh;
background-color: aqua;
position:relative
}

.top-negative{
    // position: absolute;
    height: 13vh;
  
  z-index: 1000;
}

.container1{
  width: 78% !important;
// height: 45vh;
}

.height{
  height: 45vh;
}



html body .tabs-dark.tabs-simple .nav-tabs li .nav-link:hover, html.dark body .tabs-dark.tabs-simple .nav-tabs li .nav-link:hover, html body .tabs-dark.tabs-simple .nav-tabs.nav-justified li .nav-link:hover, html.dark body .tabs-dark.tabs-simple .nav-tabs.nav-justified li .nav-link:hover, html body .tabs-dark.tabs-simple .nav-tabs li .nav-link.active, html.dark body .tabs-dark.tabs-simple .nav-tabs li .nav-link.active, html body .tabs-dark.tabs-simple .nav-tabs.nav-justified li .nav-link.active, html.dark body .tabs-dark.tabs-simple .nav-tabs.nav-justified li .nav-link.active, html body .tabs-dark.tabs-simple .nav-tabs li .nav-link.active:hover, html.dark body .tabs-dark.tabs-simple .nav-tabs li .nav-link.active:hover, html body .tabs-dark.tabs-simple .nav-tabs.nav-justified li .nav-link.active:hover, html.dark body .tabs-dark.tabs-simple .nav-tabs.nav-justified li .nav-link.active:hover, html body .tabs-dark.tabs-simple .nav-tabs li .nav-link.active:focus, html.dark body .tabs-dark.tabs-simple .nav-tabs li .nav-link.active:focus, html body .tabs-dark.tabs-simple .nav-tabs.nav-justified li .nav-link.active:focus, html.dark body .tabs-dark.tabs-simple .nav-tabs.nav-justified li .nav-link.active:focus {
  color: #212529 !important;
  border: #212529 1px solid;
 
}