

<section class="page-header page-header-modern custom-page-header bg-color-quaternary">
    <div class="container">
        <div class="row">
            <div class="col-md-12  text-center order-2 order-md-1 align-self-center p-static">
                <h1 class="font-weight-bold text-9 text-color-secondary appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100">Dashboard</h1>
            </div>
         
        </div>
    </div>
</section>
<div class="container ">
    
    <div class="row my-5">
        <div class="col-md-3 sidebar shadow-sm py-5 bg-color">
<div class="side-bar-height">
   <div class="userDetails">

    <div class="avatar my-5">
<img src="" alt="">

<p>tiastgroup.com</p>
    </div>
    <nav class="navbar-primary">
      
        <ul class="navbar-primary-menu">
          <li>
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"><span class="glyphicon glyphicon-list-alt"></span><span class="nav-label">Dashboard</span></a>
            <a ><span class="glyphicon glyphicon-envelope"></span><span class="nav-label">Profile</span></a>
            <a ><span class="glyphicon glyphicon-cog"></span><span class="nav-label">Settings</span></a>
            <a ><span class="glyphicon glyphicon-film"></span><span class="nav-label">Notification</span></a>
            <a ><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">Monitor</span></a>
            <a ><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">Log Out</span></a>
          </li>
        </ul>
      </nav>

   </div>
  


</div>
        </div>

        <div class="col-md-9">
<router-outlet></router-outlet>
        </div>
    </div>
</div>

