<section class="bg-color-light p-relative z-index-2">
    <div class="cards custom-cards custom-cards-slider h-auto pt-5 pb-4 container appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="100">
        <div class="row bg-color-light cards-container d-flex justify-content-center justify-content-xl-between w-100 mb-5 mx-0 box-shadow-1 p-relative top-0">
            <div class="col-sm-12 col-md-6 col-xl-4 bg-light p-0 shadow-none">
                <div class="card border-radius-0 border-0 shadow-none">
                    <div class="card-body d-flex align-items-center justify-content-between flex-column z-index-1">
                        <img src="../../../../../assets/img/global-advertisement.png" alt="Strategic Planning" style="width:74px
                        " class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="100">
                        <h4 class="card-title mb-1 font-weight-semibold text-color-secondary appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">{{'FEATURE_TITLE1'|translate}}</h4>
                        <p class="card-text text-center pt-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">{{'FEATURE_BODY1'|translate}}</p>
                        <a href="#" class="read font-weight-bold text-uppercase text-decoration-none mt-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">{{'BUTTON_READ'| translate}}</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4 bg-light p-0 shadow-none">
                <div class="card border-radius-0 border-0 shadow-none">
                    <div class="card-body d-flex align-items-center justify-content-between flex-column z-index-1">
                        <img src="../../../../../assets/img/strategy.png"style="width:74px" alt="Financial Clean-Up" class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
                        <h4 class="card-title mb-1 font-weight-semibold text-color-secondary appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">{{'FEATURE_TITLE2'|translate}}</h4>
                        <p class="card-text text-center pt-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">{{'FEATURE_BODY2'|translate}}</p>
                        <a href="#" class="read font-weight-bold text-uppercase text-decoration-none mt-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">{{'BUTTON_READ'| translate}}</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4 bg-light p-0 shadow-none">
                <div class="card border-radius-0 border-0 shadow-none">
                    <div class="card-body d-flex align-items-center justify-content-between flex-column z-index-1 border-end-0">
                        <img src="../../../../../assets/img/handshake.png"style="width:74px" alt="Cash Flow Planning" class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
                        <h4 class="card-title mb-1 font-weight-semibold text-color-secondary appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">{{'FEATURE_TITLE3'|translate}}</h4>
                        <p class="card-text text-center pt-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1100">
                            {{'FEATURE_BODY3'|translate}}</p>
                        <a class="read font-weight-bold text-uppercase text-decoration-none mt-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200">{{'BUTTON_READ'| translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
