.backage_image{
    width: 100%;
    height: 30vh;
}

.body{
    width: 75%;
    
}

.card-body{
    margin: 10px !important;
    padding: 10px !important;

}

.bg-white{
    background-color: rgb(247, 247, 247) !important;
}

.nav-tabs {
    margin: 0;
    padding: 0;
    border-bottom:none!important ;
}

.name{
    font-size: 80%;
}

.price{
font-size: 80%;
}

.display{
    display: flex;

    flex-direction: row;
}

.col-md-3
.sidebar{
    width: 90% !important;
    background-color: red;
}
