.color{
    color: rgb(240, 94, 41)!important;
}


.bg-download{
    // background-color: #183f72 !important;
    background-image: url("../../../../../assets/img/map.png");
}

.py-lg-5 {
    padding-top: 6rem!important;
    padding-bottom: 0rem!important;
}