.form-control {
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    background-clip: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background 0.15s ease-in-out, opacity 0.15s ease-in-out;
    color: #262626;
    background-color: #ffffff;
    border-color: rgba(255, 166, 0, 0.689);
    height: 46px !important;
    padding: calc(15px * .5) 10px;
    font-size: 16px;
    line-height: 19px;
}

body{
    background-image: url('../../../assets/img/login1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    overflow: scroll;
height:100vh ;
    width: 100%;
 
 padding-top: 100px;
}




  .validation{
    font-size: smaller;
    color: red;
  }

  





@media (max-width: 600px) {
  .card-body{
    margin: 0 !important;
    padding: 0 !important;
  }
  }


  .hidden{
    float: right;
    margin-top: -8%;
    margin-right: 15px;
  }