.products{
  width: 96%;
}

body{margin-top:20px;
    background:#ffffff;
}


.bg-grey{
background-color: #eef0f43c;
}


.desc_text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}


.qty{
  width: 10%;
}