<div role="main" class="main">

    <section class="page-header page-header-modern custom-page-header bg-color-quaternary">
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                    <h1 class="font-weight-bold text-9 text-color-secondary appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100">About Us</h1>
                </div>
                <div class="col-md-4 order-1 order-md-2 align-self-center">
                    <ul class="breadcrumb d-block text-md-end appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="300">
                        <li><a href="#">Home</a></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col">
                <p class="text-4 line-height-9">{{ "ABOUT_DESCRIPTION1" | translate}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p class="m-0 p-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod, sed porta est consectetur. Vestibulum auctor felis eget orci.</p>
             
              
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <div class="card border-radius-0 box-shadow-1 border-0 mt-4 mt-lg-0 ms-lg-3 p-3 mb-3 mb-lg-0">
                    <img src="assets/img/demos/business-consulting-2/bg/bg-2.jpg" class="img-fluid border-radius-0" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row py-3 mt-2">

            <div class="col-lg-6 p-0">
                <section class="section section-height-3 bg-color-primary-darken-1 h-100 m-0 border-0">
                    <div class="row justify-content-end m-0">
                        <div class="col-half-section col-half-section-right text-color-light">
                            <p class="text-uppercase font-weight-semibold mb-1 text-color-light appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100"><span class="line-pre-title bg-color-secondary ms-0 me-3 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200"></span>Reliable Services</p>
                            <h2 class="text-color-light font-weight-bold text-capitalize mb-1 letter-spacing-08 font-size-32 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">Budget Friendly</h2>
                            <span class="opacity-7 d-block">
                                <p class="text-color-light pt-3 mb-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
                            </span>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-lg-6 p-0">
                <section class="section section-height-3 bg-color-primary h-100 m-0 border-0">
                    <div class="row m-0">
                        <div class="col-half-section text-color-light text-end">
                            <p class="text-uppercase font-weight-semibold mb-1 text-color-light appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="100">coaching and consulting<span class="line-pre-title me-0 ms-3 bg-color-secondary appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200"></span></p>
                            <h2 class="text-color-light font-weight-bold text-capitalize mb-1 letter-spacing-08 font-size-32 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">Experienced Team</h2>
                            <span class="opacity-7 d-block">
                                <p class="text-color-light pt-3 mb-0 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
                            </span>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>

    <div class="container py-5 mb-3">
        <div class="row align-items-center">
            <div class="col-lg-5 pt-3 pt-lg-0 pb-4 pb-lg-0">
                <div class="card border-radius-0 box-shadow-1 border-0 me-lg-3 p-3 mb-3 mb-lg-0">
                    <img src="assets/img/demos/business-consulting-2/bg/bg-1.jpg" class="img-fluid border-radius-0" alt="">
                </div>
            </div>
            <div class="col-lg-7">
                <p class="text-4 line-height-9 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="100">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod, sed porta est consectetur. Vestibulum auctor felis eget orci semr vestibulum. Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="m-0 p-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod, sed porta est consectetur. Vestibulum auctor felis eget orci semr vestibulum. Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="counters custom-counters mt-5 d-flex">
                    <div class="counter counter-primary appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">
                        <strong data-to="240" data-append="+">0</strong>
                        <label class="text-color-primary font-weight-bold">Satisfied Clients</label>
                    </div>
                    <div class="counter counter-primary appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200">
                        <strong data-to="2000" data-append="+">0</strong>
                        <label class="text-color-primary font-weight-bold">Successfull Cases</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="are-you-looking-for bg-color-secondary mt-4">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-5">
                    <p class="text-uppercase font-weight-semibold mb-1 text-color-light appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100"><span class="line-pre-title bg-color-primary appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200"></span>DO YOU NEED YOUR BUSINESS TO REACH YOUR</p>
                    <h2 class="text-color-light font-weight-bold text-capitalize mb-1 letter-spacing-08 font-size-22 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">   TARGET MARKET SWIFTLY?</h2>
                    <p class="font-weight-semibold text-color-light mb-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">Register your agribusiness company with us right now!</p>
                </div>
                <div class="col-xl-6 d-flex align-items-start align-items-sm-center justify-content-start justify-content-xl-end mt-4 mt-xl-0 flex-column flex-sm-row">
                    <span class="are-you-looking-for-phone py-2 d-flex align-items-center text-color-light font-weight-semibold text-uppercase text-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500">
                        <span>
                            <img width="18" height="25" src="assets/img/demos/business-consulting-2/icons/phone.svg" alt="Phone">
                        </span>
                        <a class="text-color-light text-decoration-none" href="tel:+233204758888">+233204758888</a>
                    </span>
                    <a class="btn btn-primary  text-center text-uppercase text-decoration-none border-0 py-4 px-5 font-weight-semibold appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600">START YOUR PROCESS</a>
                </div>
            </div>
        </div>
    </section>			

</div>