<div role="main" class="main">

    <section class="page-header page-header-modern custom-page-header bg-color-quaternary">
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                    <h1 class="font-weight-bold text-9 text-color-secondary appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100">About Us</h1>
                </div>
                <div class="col-md-4 order-1 order-md-2 align-self-center">
                    <ul class="breadcrumb d-block text-md-end appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="300">
                        <li><a href="#">Home</a></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

<!-- 
    <div class="container-fluid">
        <div class="row py-3 mt-2">

            <div class="col-lg-6 p-0">
                <section class="section section-height-3 bg-color-primary-darken-1 h-100 m-0 border-0">
                    <div class="row justify-content-end m-0">
                        <div class="col-half-section col-half-section-right text-color-light">
                            <p class="text-uppercase font-weight-semibold mb-1 text-color-light appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100"><span class="line-pre-title bg-color-secondary ms-0 me-3 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200"></span>Reliable Services</p>
                            <h2 class="text-color-light font-weight-bold text-capitalize mb-1 letter-spacing-08 font-size-32 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">Budget Friendly</h2>
                            <span class="opacity-7 d-block">
                                <p class="text-color-light pt-3 mb-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
                            </span>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-lg-6 p-0">
                <section class="section section-height-3 bg-color-primary h-100 m-0 border-0">
                    <div class="row m-0">
                        <div class="col-half-section text-color-light text-end">
                            <p class="text-uppercase font-weight-semibold mb-1 text-color-light appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="100">coaching and consulting<span class="line-pre-title me-0 ms-3 bg-color-secondary appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200"></span></p>
                            <h2 class="text-color-light font-weight-bold text-capitalize mb-1 letter-spacing-08 font-size-32 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">Experienced Team</h2>
                            <span class="opacity-7 d-block">
                                <p class="text-color-light pt-3 mb-0 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
                            </span>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div> -->

    <div class="container py-5 mb-3">
        <div class="row align-items-center">
            
            <div class="col-lg-6 pt-3 pt-lg-0 pb-4 pb-lg-0">
                <div class=" border-radius-0 box-shadow-1 border-0 me-lg-3 p-3 mb-3 mb-lg-0">
                    <img src="assets/img/about.jpg" class="img-fluid border-radius-0" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <p class="text-uppercase font-weight-semibold mb-1 text-color-primary appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100"><span class="line-pre-title bg-color-primary"></span>GET TO KNOW</p>
                <h2 class="text-color-secondary font-weight-bold text-capitalize mb-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">ABOUT US</h2>
                <p class="m-0 p-0 mt-2 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">CAISTT is an e-commerce website where agribusiness takes place. On CAISTT, businesses trade in agricultural machinery, farm inputs, seedlings, agrochemicals, etc with the ultimate aim of providing a market connection for all.</p>

                <p class="m-0 p-0 mt-2 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">On the CAISTT platform, agribusiness stakeholders ranging from manufacturers and suppliers to farmers and distributors come together to engage in a wide array of trading activities. The platform's primary objective is to establish a comprehensive market connection for all participants, fostering an environment where agricultural products, machinery, and inputs can be bought and sold with ease</p>
                <p class="m-0 p-0 mt-2 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">On the CAISTT platform, agribusiness stakeholders ranging from manufacturers and suppliers to farmers and distributors come together to engage in a wide array of trading activities. The platform's primary objective is to establish a comprehensive market connection for all participants, fostering an environment where agricultural products, machinery, and inputs can be bought and sold with ease</p>

             
                <!-- <div class="counters custom-counters mt-5 d-flex">
                    <div class="counter counter-primary appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">
                        <strong data-to="240" data-append="+">0</strong>
                        <label class="text-color-primary font-weight-bold">Satisfied Clients</label>
                    </div>
                    <div class="counter counter-primary appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200">
                        <strong data-to="2000" data-append="+">0</strong>
                        <label class="text-color-primary font-weight-bold">Successfull Cases</label>
                    </div>
                </div> -->
            </div>
        </div>
    </div>


    <app-about-us></app-about-us>

    <section class="are-you-looking-for bg-color-secondary mt-4">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-5">
                    <p class="text-uppercase font-weight-semibold mb-1 text-color-light appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100"><span class="line-pre-title bg-color-primary appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200"></span>DO YOU NEED YOUR BUSINESS TO REACH YOUR</p>
                    <h2 class="text-color-light font-weight-bold text-capitalize mb-1 letter-spacing-08 font-size-22 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">   TARGET MARKET SWIFTLY?</h2>
                    <p class="font-weight-semibold text-color-light mb-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">Register your agribusiness company with us right now!</p>
                </div>
                <div class="col-xl-6 d-flex align-items-start align-items-sm-center justify-content-start justify-content-xl-end mt-4 mt-xl-0 flex-column flex-sm-row">
                    <span class="are-you-looking-for-phone py-2 d-flex align-items-center text-color-light font-weight-semibold text-uppercase text-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500">
                        <span>
                            <img width="18" height="25" src="assets/img/demos/business-consulting-2/icons/phone.svg" alt="Phone">
                        </span>
                        <a class="text-color-light text-decoration-none" href="tel:+233204758888">+233204758888</a>
                    </span>
                    <a class="btn btn-primary  text-center text-uppercase text-decoration-none border-0 py-4 px-5 font-weight-semibold appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600">START YOUR PROCESS</a>
                </div>
            </div>
        </div>
    </section>			

</div>

<div role="main" class="main">

   

    <section class="custom-bg-color-lighter-grey">
        

        <div class="bg-white">
          <div class="container py-5">
					<div class="row">
						<div class="col">
							<p class="text-uppercase font-weight-semibold mb-1 text-color-primary appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100"><span class="line-pre-title bg-color-primary"></span>Get in Touch</p>
							<h2 class="text-color-secondary font-weight-bold text-capitalize mb-2 custom-letter-spacing-2 custom-text-1 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">Send Us a Message</h2>
							<p class="mb-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a elit sit amet leo accumsan volutpat.</p>

							<form class="contact-form custom-form-style-1 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="100" action="php/contact-form.php" method="POST">
								<div class="contact-form-success alert alert-success d-none mt-4">
									<strong>Success!</strong> Your message has been sent to us.
								</div>

								<div class="contact-form-error alert alert-danger d-none mt-4">
									<strong>Error!</strong> There was an error sending your message.
									<span class="mail-error-message text-1 d-block"></span>
								</div>
								<div class="row">
									<div class="form-group col-lg-6">
										<input type="text" placeholder="Your Name" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" required>
									</div>
									<div class="form-group col-lg-6">
										<input type="email" placeholder="Your E-mail" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" required>
									</div>
								</div>
								<div class="row">
									<div class="form-group col">
										<input placeholder="Subject" type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" required>
									</div>
								</div>
								<div class="row">
									<div class="form-group col">
										<textarea placeholder="Your Message..." maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" required></textarea>
									</div>
								</div>
								<div class="row">
									<div class="form-group col">
										<input type="submit" value="Send Message" class="btn btn-primary custom-btn text-center text-uppercase text-decoration-none border-0 py-0 px-5 font-weight-semibold" data-loading-text="Loading...">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>  

                
        </div>
				
</section>

</div>
