<section class="are-you-looking-for bg-color-secondary mt-4">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-5">
                <p class="text-uppercase font-weight-semibold mb-1 text-color-light appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100"><span class="line-pre-title bg-color-primary appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200"></span>DO YOU NEED YOUR BUSINESS TO REACH YOUR</p>
                <h2 class="text-color-light font-weight-bold text-capitalize mb-1 letter-spacing-08 font-size-22 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">   TARGET MARKET SWIFTLY?</h2>
                <p class="font-weight-semibold text-color-light mb-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">Register your agribusiness company with us right now!</p>
            </div>
            <div class="col-xl-6 d-flex align-items-start align-items-sm-center justify-content-start justify-content-xl-end mt-4 mt-xl-0 flex-column flex-sm-row">
                <span class="are-you-looking-for-phone py-2 d-flex align-items-center text-color-light font-weight-semibold text-uppercase text-4 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500">
                    <span>
                        <img width="18" height="25" src="assets/img/demos/business-consulting-2/icons/phone.svg" alt="Phone">
                    </span>
                    <a class="text-color-light text-decoration-none" href="tel:+233204758888">+233204758888</a>
                </span>
                <a class="btn btn-primary  text-center text-uppercase text-decoration-none border-0 py-4 px-5 font-weight-semibold appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600">START YOUR PROCESS</a>
            </div>
        </div>
    </div>
</section>