<section class="real-word-stories bg-color-quaternary overflow-hidden p-relative pb-4">
    <div class="container py-xl-5">
        <div class="row justify-content-between align-items-center pt-5 py-xl-5 mt-3">
            <div class="col-xl-6 mb-5 pb-5 mb-xl-0 pb-xl-0">
                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="100">
                    <div class="owl-carousel owl-theme m-0" data-plugin-options="{'items': 1, 'autoplay': true, 'animateOut': 'fadeOut', 'autoHeight': false}">
                        <div class="custom-testimonial-container bg-color-light">
                            <div class="testimonial custom-testimonial testimonial-style-2 mb-0">
                                <div class="d-none d-sm-flex align-items-center justify-content-center custom-testimonial-right bg-color-light p-absolute z-index-1">
                                    <img src="assets/img/demos/business-consulting-2/logos/case-logo-1.png" alt="Bullseye">
                                    <a href="demo-business-consulting-2-cases-detail.html" class="d-block btn btn-primary custom-button-testimonial-right text-center text-uppercase text-decoration-none border-0 p-0 font-weight-semibold p-absolute">read more</a>
                                </div>
                                <blockquote class="px-0 pb-5">
                                    <h4 class="text-color-secondary font-weight-bold text-start">Bullseye Case</h4>
                                    <p class="mb-0 text-start text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti.<a href="demo-business-consulting-2-cases-detail.html" class="font-weight-bold text-uppercase text-decoration-none d-block d-sm-none mt-3">read more +</a></p>
                                </blockquote>
                                <div class="testimonial-arrow-down"></div>
                                <div class="testimonial-author d-flex flex-row justify-content-start align-items-center">
                                    <img src="assets/img/avatars/avatar-3.jpg" class="img-fluid rounded-circle m-0 me-3" alt="">
                                    <p><strong class="font-weight-extra-bold text-start text-color-secondary mb-1">John Smith</strong><span class="text-uppercase text-start">Manager</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="custom-testimonial-container bg-color-light">
                            <div class="testimonial custom-testimonial testimonial-style-2 mb-0">
                                <div class="d-none d-sm-flex align-items-center justify-content-center custom-testimonial-right bg-color-light p-absolute z-index-1">
                                    <img src="assets/img/demos/business-consulting-2/logos/case-logo-2.png" alt="Bullseye">
                                    <a href="demo-business-consulting-2-cases-detail.html" class="d-block btn btn-primary custom-button-testimonial-right text-center text-uppercase text-decoration-none border-0 p-0 font-weight-semibold p-absolute">read more</a>
                                </div>
                                <blockquote class="px-0 pb-5">
                                    <h4 class="text-color-secondary font-weight-bold text-start">Wall Paint Shop Case</h4>
                                    <p class="mb-0 text-start text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget porta, tincidunt turpis at, interdum tortor. Suspendisse potenti.</p>
                                </blockquote>
                                <div class="testimonial-arrow-down"></div>
                                <div class="testimonial-author d-flex flex-row justify-content-start align-items-center">
                                    <img src="assets/img/avatars/avatar-2.jpg" class="img-fluid rounded-circle m-0 me-3" alt="">
                                    <p><strong class="font-weight-extra-bold text-start text-color-secondary mb-1">John Doe</strong><span class="text-uppercase text-start">Manager</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="custom-testimonial-container bg-color-light">
                            <div class="testimonial custom-testimonial testimonial-style-2 mb-0">
                                <div class="d-none d-sm-flex align-items-center justify-content-center custom-testimonial-right bg-color-light p-absolute z-index-1">
                                    <img src="assets/img/demos/business-consulting-2/logos/case-logo-3.png" alt="Bullseye">
                                    <a href="demo-business-consulting-2-cases-detail.html" class="d-block btn btn-primary custom-button-testimonial-right text-center text-uppercase text-decoration-none border-0 p-0 font-weight-semibold p-absolute">read more</a>
                                </div>
                                <blockquote class="px-0 pb-5">
                                    <h4 class="text-color-secondary font-weight-bold text-start">Go Gold Golden Case</h4>
                                    <p class="mb-0 text-start text-3">Lorem ipsum dolor sit amet, adipiscing elit. Sed eget porta, tincidunt turpis at, interdum tortor. Suspendisse potenti.</p>
                                </blockquote>
                                <div class="testimonial-arrow-down"></div>
                                <div class="testimonial-author d-flex flex-row justify-content-start align-items-center">
                                    <img src="assets/img/avatars/avatar-4.jpg" class="img-fluid rounded-circle m-0 me-3" alt="">
                                    <p><strong class="font-weight-extra-bold text-start text-color-secondary mb-1">Bob Smith</strong><span class="text-uppercase text-start">Manager</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 mb-5 mb-xl-0">
                <p class="text-uppercase font-weight-semibold mb-1 text-color-primary appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300"><span class="line-pre-title bg-color-primary"></span>real world stories</p>
                <h2 class="text-color-secondary font-weight-bold text-capitalize mb-4 custom-letter-spacing-2 custom-text-1 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">Sucessful Cases</h2>
                <p class="font-weight-semibold mb-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a elit sit amet leo accumsan volutpat.</p>
                <p class="mb-4 pb-2 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. Integer aliquet ullamcorper dolor, quis sollicitudin.</p>
                <div class="counters custom-counters d-flex">
                    <div class="counter counter-primary appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">
                        <strong data-to="240" data-append="+">0</strong>
                        <label class="text-color-primary font-weight-bold">Satisfied Clients</label>
                    </div>
                    <div class="counter counter-primary appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200">
                        <strong data-to="2000" data-append="+">0</strong>
                        <label class="text-color-primary font-weight-bold">Successfull Cases</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>